@model TripleAdd.Models.TripleAddViewModel
@{
    ViewBag.Title = "Triple Add";
}


@using (Ajax.BeginForm((string)ViewBag.Method, "Home", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "Reload(data)",
    OnFailure = "DisplayError(data)"
}))
{
    <div class="col-md-12 form-inline form-group" style="margin-top: 20px; padding-top: 5px; background-color: #E5E1DB">
        <label>
            @Html.TextBoxFor(p => p.Add1, new {@id="add1", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">+</label>
        <label>
            @Html.TextBoxFor(p => p.Add2, new {@id="add2", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">+</label>
        <label>
            @Html.TextBoxFor(p => p.Add3, new {@id="add3", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">=</label>
        <label>
            @Html.TextBoxFor(p => p.Ans, new {@id="ans", Class = "form-control input-lg", @disabled="disabled"})
        </label>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-success btn-lg">Calc</button>
        </div>
    </div>
}
<br/>

@section scripts {
<script src="~/Scripts/refresh.js"></script>
}