.mar-right {
    margin-right: 20px;
}

.light {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #95a5a6;
}

.red {
    background-color: #f05f2a;
}

.yellow {
    background-color: #DDFF00;
}

.green {
    background-color: #01a252;
}

.borderddy {
    border: 6px solid #95a5a6;
}

.top {
    margin-top: 20px;
}

.box {
    text-align: center;
    line-height: 50%;
    padding: 10px 0 10px 0;
    border-radius: 40px;
    background-color: #525e64;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}