<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="COM" value="COM1"/>
    <add key="FBoxOpcDaHost" value="opcda://localhost/FBoxOpcServer"/>
    <add key="IP" value="192.168.1.1"/>
    <add key="IPConnectionTimeout" value="5000"/>
    <add key="ModbusPort" value="502"/>
    <add key="OpcDaHost" value="opcda://localhost/..."/>
    <add key="OpcUaHost" value="opc.tcp://localhost/..."/>
    <add key="SiemensPort" value="102"/>
  </appSettings>
</configuration>