@{
    ViewBag.Title = "Cross Lamp";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 clearfix borderddy box">
            <a href="javascript:;" class="light mar-right"></a>
            <a href="javascript:;" class="light mar-right"></a>
            <a href="javascript:;" class="light"></a>
        </div>
    </div>
    <div class="row top">
        <div class="col-md-3 clearfix borderddy box ">
            <a href="javascript:;" class="light mar-right"></a>
            <a href="javascript:;" class="light mar-right"></a>
            <a href="javascript:;" class="light"></a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/lampread.js"></script>
}